name: Python CI Template

on:
  workflow_call:
    inputs:
      python-version:
        required: true
        type: string
      command:
        required: true
        type: string
      use-submodules:
        required: false
        type: boolean
        default: false

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: ${{ inputs.use-submodules }}

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ inputs.python-version }}

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run command
        run: ${{ inputs.command }}
